.container-visual {
  color: #ccc5c1;
  margin: 0 24px;
}
.n-repositories {
  text-align: center;
}
.visual-repositories {
  max-width: 710px;
  margin: auto;
}
.visual-repositories ul li {
  color: #283027;
  background-color: #a6a8a3;
  width: 48%;
  max-width: 300px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  float: left;
  overflow: hidden;
  padding: 5px;
}

.visual-repositories ul li svg {
  margin-left: 5px;
}

.visual-repositories ul li:nth-child(odd) {
  clear: both;
}
.title {
  text-align: center;
}
