.visual-header {
}
.visual-header ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0px;
  border: 1px solid black;
  border-radius: 5px;
}
.visual-header ul li {
  float: left;
  border-left: 1px solid #bbb;
}
.visual-header ul li a {
  display: inline-block;
  text-align: center;
  padding: 12px 10px;
  color: #283027;
  text-decoration: none;
  transition: 0.5s;
}
.visual-header ul li a svg {
  padding-right: 2px;
}
.visual-header a:hover {
  background-color: #b1aba8;
}
